<div class="select-none text-start">
  <h1 class="-indent-0.5 text-6xl font-bold lg:text-8xl 2xl:text-10xl">Hivemind</h1>
  <div class="text-2xl font-bold lg:text-4xl 2xl:text-6xl">
    Dive in
    <span
      class="inline-flex h-[calc(theme(fontSize.2xl)*theme(lineHeight.snug))] flex-col overflow-hidden text-primary lg:h-[calc(theme(fontSize.4xl)*theme(lineHeight.snug))] 2xl:h-[calc(theme(fontSize.6xl)*theme(lineHeight.snug))]"
    >
      <ul class="block animate-text-slide leading-snug [&_li]:block">
        <li>Innovation</li>
        <li>Creativity</li>
        <li>Possibilities</li>
        <li>Ideas</li>
        <li>Knowledge</li>
        <li>Innovation</li>
      </ul>
    </span>
  </div>
</div>
