<div class="card w-full">
  <div class="card-body gap-5">
    <!-- Buzz Header Skeleton -->
    <div class="flex items-center gap-4">
      <div class="hm-skeleton h-14 w-14 rounded-full bg-base-300"></div>
      <div class="flex flex-col gap-2">
        <span class="hm-skeleton h-3.5 w-36 rounded-btn bg-base-300"></span>
        <span class="hm-skeleton h-2.5 w-24 rounded-btn bg-base-300"></span>
      </div>
    </div>

    <!-- Text Content Skeleton -->
    <div class="w-full">
      <div class="hm-skeleton mb-3 h-4 w-3/5 rounded-btn bg-base-300"></div>
      <div class="hm-skeleton mt-2 h-3 w-full rounded-btn bg-base-300"></div>
      <div class="hm-skeleton mt-2 h-3 w-3/4 rounded-btn bg-base-300"></div>
    </div>

    <!-- Media Content Skeleton -->
    <div class="hm-skeleton aspect-1 w-full rounded-box bg-base-300 sm:aspect-[4/3]"></div>
  </div>
</div>
