<hm-infinite-scroll-window
  [items]="people"
  [showError]="peopleFetchFailed"
  [infiniteScrollDisabled]="infiniteScrollDisabled"
  [showLoading]="fetchingPeople"
  [estimatedSize]="50"
  [overscan]="25"
  (loadMore)="fetchPeople()"
>
  <ng-template #itemTemplate let-item>
    <div class="px-8 py-4">
      <hm-molecule-user-byline *ngIf="item" [user]="item"></hm-molecule-user-byline>
    </div>
  </ng-template>

  <ng-template #loadingTemplate>
    <div class="flex justify-center py-12">
      <span class="loading loading-ring loading-lg text-base-content-muted"></span>
    </div>
  </ng-template>

  <ng-template #errorTemplate>
    <hm-button-retry (retry)="fetchPeople(true)"></hm-button-retry>
  </ng-template>
</hm-infinite-scroll-window>

<!-- Not Found -->
<div
  *ngIf="people.length === 0 && cursor === null"
  class="mx-auto mt-[10%] flex w-fit flex-col gap-1 text-pretty text-start"
>
  <h1 #notFoundTitle class="w-fit max-w-96 text-3xl font-bold">
    No result found for
    <br />
    <span class="break-all">"{{ searchTerm }}"</span>
  </h1>
  <span
    class="text-lg text-base-content-muted"
    [ngStyle]="{ width: notFoundTitle?.offsetWidth + 'px' }"
  >
    Try adjusting your search or use different keywords.
  </span>
</div>
