<footer class="negative">
  <div
    class="container footer mx-auto min-w-[40%] gap-0 p-5 pt-10 md:justify-between lg:px-[calc(15%)]"
  >
    <!-- Services Links -->
    <div class="collapse gap-0 max-md:collapse-arrow md:collapse-open">
      <input type="checkbox" />
      <div class="collapse-title footer-title opacity-100 md:px-0">Services</div>
      <div class="collapse-content md:px-0">
        <nav class="flex flex-col gap-2 pb-5">
          <a href="javascript:void(0);" class="link-hover link">Branding Solutions</a>
          <a href="javascript:void(0);" class="link-hover link">Creative Design</a>
          <a href="javascript:void(0);" class="link-hover link">Marketing Strategy</a>
          <a href="javascript:void(0);" class="link-hover link">Ad Campaigns</a>
          <a href="javascript:void(0);" class="link-hover link">Consulting Services</a>
        </nav>
      </div>
    </div>

    <!-- Company Links -->
    <div class="collapse gap-0 max-md:collapse-arrow md:collapse-open">
      <input type="checkbox" />
      <div class="collapse-title footer-title opacity-100 md:px-0">Company</div>
      <div class="collapse-content md:px-0">
        <nav class="flex flex-col gap-2 pb-5">
          <a href="javascript:void(0);" class="link-hover link">About Us</a>
          <a href="javascript:void(0);" class="link-hover link">Contact Info</a>
          <a href="javascript:void(0);" class="link-hover link">Career Opportunities</a>
          <a href="javascript:void(0);" class="link-hover link">Brand Toolkit</a>
          <a href="javascript:void(0);" class="link-hover link">Investor Relations</a>
          <a href="javascript:void(0);" class="link-hover link">Our History</a>
        </nav>
      </div>
    </div>

    <!-- Legal Links -->
    <div class="collapse gap-0 max-md:collapse-arrow md:collapse-open">
      <input type="checkbox" />
      <div class="collapse-title footer-title opacity-100 md:px-0">Legal</div>
      <div class="collapse-content md:px-0">
        <nav class="flex flex-col gap-2 pb-5">
          <a href="javascript:void(0);" class="link-hover link">Terms of Service</a>
          <a href="javascript:void(0);" class="link-hover link">Privacy & Data Protection</a>
          <a href="javascript:void(0);" class="link-hover link">Cookie Usage Policy</a>
          <a href="javascript:void(0);" class="link-hover link">Compliance Information</a>
        </nav>
      </div>
    </div>

    <!-- Resources Links -->
    <div class="collapse gap-0 max-md:collapse-arrow md:collapse-open">
      <input type="checkbox" />
      <div class="collapse-title footer-title opacity-100 md:px-0">Resources</div>
      <div class="collapse-content md:px-0">
        <nav class="flex flex-col gap-2 pb-5">
          <a href="javascript:void(0);" class="link-hover link">Help Center</a>
          <a href="javascript:void(0);" class="link-hover link">Documentation</a>
          <a href="javascript:void(0);" class="link-hover link">Community Forum</a>
          <a href="javascript:void(0);" class="link-hover link">Developer Portal</a>
          <a href="javascript:void(0);" class="link-hover link">Developer Blog</a>
          <a href="javascript:void(0);" class="link-hover link">Tutorials</a>
          <a href="javascript:void(0);" class="link-hover link">FAQs</a>
        </nav>
      </div>
    </div>

    <!-- Partners Links -->
    <div class="collapse gap-0 max-md:collapse-arrow md:collapse-open">
      <input type="checkbox" />
      <div class="collapse-title footer-title opacity-100 md:px-0">Partners</div>
      <div class="collapse-content md:px-0">
        <nav class="flex flex-col gap-2">
          <a href="javascript:void(0);" class="link-hover link">Affiliate Program</a>
          <a href="javascript:void(0);" class="link-hover link">Reseller Network</a>
          <a href="javascript:void(0);" class="link-hover link">Integration Partners</a>
          <a href="javascript:void(0);" class="link-hover link">API Access</a>
          <a href="javascript:void(0);" class="link-hover link">Solution Partners</a>
          <a href="javascript:void(0);" class="link-hover link">Tech Partners</a>
          <a href="javascript:void(0);" class="link-hover link">Channel Partners</a>
          <a href="javascript:void(0);" class="link-hover link">Partner Portal</a>
        </nav>
      </div>
    </div>
  </div>

  <!-- Copyright & Socials -->
  <div class="border-t border-neutral">
    <div
      class="container footer mx-auto min-w-[40%] gap-5 p-5 max-md:footer-center lg:px-[calc(15%)]"
    >
      <aside>
        <p>
          Hivemind Corp.
          <br />
          Copyright © {{ currentYear }} - All rights reserved
        </p>
      </aside>
      <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-5">
          <a href="javascript:void(0);" title="Twitter / X">
            <i class="fa-brands fa-x-twitter fa-xl"></i>
          </a>
          <a href="javascript:void(0);" title="Instagram">
            <i class="fa-brands fa-instagram fa-xl"></i>
          </a>
          <a href="https://github.com/SyskenGL" target="_blank" title="Github">
            <i class="fa-brands fa-github fa-xl"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>
</footer>
