<div class="relative select-none bg-base-100">
  <!-- Cover Container -->
  <div
    class="aspect-[3/1] bg-base-300"
    [ngClass]="{
      'hm-skeleton rounded-none': (coverId && status === 'L') || coverId === undefined,
      'cursor-pointer': zoomable && coverId && status === 'D'
    }"
  >
    <!-- User Cover -->
    <img
      *ngIf="coverId && status !== 'E'"
      fill
      class="object-cover"
      [priority]="priority"
      [ngSrc]="coverId"
      (load)="onCoverLoad()"
      (error)="onCoverError()"
      (click)="zoomInCover()"
    />
  </div>

  <!-- Zoom-In Modal  -->
  <dialog
    *ngIf="zoomable && coverId && status === 'D'"
    #zoomInCoverModal
    class="modal backdrop-blur-md duration-0"
  >
    <div class="modal-box aspect-[3/1] h-fit max-w-full cursor-default bg-transparent">
      <img [ngSrc]="coverId" [priority]="priority" fill class="object-cover" />
    </div>
    <form method="dialog" class="absolute right-0 top-0">
      <button
        class="btn btn-circle btn-ghost btn-sm absolute right-8 top-8 z-10 bg-base-100/50 sm:btn-md hover:bg-base-100/75"
      >
        <i class="fa-solid fa-xmark text-lg"></i>
      </button>
    </form>
    <form method="dialog" class="modal-backdrop focus-within:ring-0">
      <button>close</button>
    </form>
  </dialog>
</div>
